body
{
   background-color: #e5e884;
}

#container
{
    width:700px;
    margin-left: auto;
    margin-right: auto;
    border: 1px lightgray solid;
    align-self: auto;
    text-align: center;
    background-color: white;
}

#header
{
    height: 80px;
    /* width: 1170px; */
    margin-left: auto;
    margin-right: auto;
    background-color: #e5e884;
    text-align: center;
    padding: 15px;
    color: darkslategray;
    letter-spacing: 2px;

}
#register
{
    /* float: left; */
    width: 300px;
    min-height: 650px;
    text-align: center;
    color: darkslategray;
    margin-left: auto;
    margin-right: auto;
}

#logoTxt
{
    /* float: left; */
    width: 570px;
    min-height: 550px;
    align-self: center;
    text-align: justify;
    text-align: center;
    font-family: cursive;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;


}
#logIn
{
    /* float: left; */
    width: 300px;
    min-height: 650px;
    text-align: center;
    color: darkslategray;
    margin-left: auto;
    margin-right: auto;
}



h1, h3 {
    text-align: center;
    color: darkslategray;
    letter-spacing: 1px;
    margin-left: auto;
    margin-right: auto;
}

menu {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

ul {
    margin-left: auto;
    margin-right: auto;
    list-style: none;
}

button {
    margin-left: auto;
    margin-right: auto;
    margin: 20px;
    background-color: #e5e884;
}
