<!DOCTYPE html>
<html lang="en">
<head>
  <title>DataHive</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/icons/favicon.ico') }}"/>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/permissions.css')}}"/>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css')}}"/>
</head>
<body>
  <h1>DataHive</h1>
  <h3>{{ message }}</h3>
{% block content %}{% endblock %}
</body>
</html>
