{% extends 'base.html' %}
{% block content %}
<table style="width: 100%">
  <tr>
    <th class="list-cell order-number">lp.</th>
    <th class="list-cell email">E-mail</th>
    <th class="list-cell username-cell">Użytkownik</th>
    <th>Data dołączenia</th>
  </tr>
  {% for user in user_loader() %}
  <tr>
    <td class="list-cell order-number">{% print(user.id) %}</td>
    <td class="list-cell email">{% print(user.email) %}</td>
    <td class="list-cell username-cell">{% print(user.username) %}</td>
    <td><!-- {% print(user.joindate) %} --> ---</td>
  </tr>
  {% endfor %}
</table>

<button>
  <a class="logout" href="{{ url_for('logout')}}">Wyloguj</a>
</button>
{% endblock %}
