{% extends 'base.html' %}
{% block content %}
<div id = "conatainer">
  <div id = "logoTxt">
    <img src="{{ url_for('static', filename='images/logo_transparent.png')}}" width="400" height="400" style="text-align: center; "> <br><br>
    Zadaniem DataHive jest pomoc użytkownikom w grupowej organizacji czasu i komunikacji.<br>
    Zależy nam, aby każdy użytkownik miał możliwość wygodnego i sprawnego przekazywania informacji.
    Z tą właśnie myślą stworzyliśmy naszą stronę dostępną dla wszystkich. <br>
  </div>
  <menu>
    <button>
      <a class="login" href="{{ url_for('login')}}">Zaloguj się!</a>
    </button>
    <br>
    <button>
      <a class="register" href="{{ url_for('register')}}">Zarejestruj się!</a>
    </button>
  </menu>
</div>
{% endblock %}
